[manifest]
version = "1.0.0"
dump_lua = true
priority = 1

# Psi Deck boss change
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = "if G.FORCE_BOSS then return G.FORCE_BOSS end"
position = 'after'
payload = '''
if G.GAME.selected_back.name == 'Psi Deck' and (G.GAME.round_resets.ante%G.GAME.win_ante ~= 0 or G.GAME.round_resets.ante < 2) then
    return "bl_psychic"
end
'''
match_indent = true



# Disable ZOMG when selling jokers
[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = "if self.ability.set == 'Joker' and G.GAME.blind and G.GAME.blind.name == 'Verdant Leaf' then "
position = 'at'
payload = "if self.ability.set == 'Joker' and G.GAME.blind and (G.GAME.blind.name == 'Verdant Leaf' or G.GAME.blind.name == 'Green Gargantuan') then "
match_indent = true

# Custom loc_debuff_text for boss blinds
[[patches]]
[patches.pattern]
target = 'blind.lua'
pattern = '''
    self.loc_debuff_text = self.loc_debuff_text..v..(k <= #loc_target and ' ' or '')
'''
position = 'before'
payload = '''
if 
    self.name == 'bl_bloons_bloonarius' or
    self.name == 'bl_bloons_lych' or
    self.name == 'bl_bloons_vortex' or
    self.name == 'bl_bloons_dreadbloon' or
    self.name == 'bl_bloons_phayze' or
    self.name == 'bl_bloons_blastapopoulos'
then
    self.loc_debuff_text = 'It has all led to this'
else
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'blind.lua'
pattern = '''
    self.loc_debuff_text = self.loc_debuff_text..v..(k <= #loc_target and ' ' or '')
'''
position = 'after'
payload = '''
end
'''
match_indent = true