[manifest]
version = "1.0.0"
dump_lua = true
priority = 1

# Ninja full slots buy
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = "not (card.ability.set == 'Joker' and #G.jokers.cards < G.jokers.config.card_limit + card.ability.card_limit - card.ability.extra_slots_used) and"
position = 'at'
payload = "not (card.ability.set == 'Joker' and (card.ability.name == 'Ninja Monkey' or #G.jokers.cards < G.jokers.config.card_limit + card.ability.card_limit - card.ability.extra_slots_used)) and"
match_indent = true

# Ninja full slots select
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = "if card.ability.set ~= 'Joker' or #G.jokers.cards < G.jokers.config.card_limit + card_limit then"
position = 'at'
payload = "if card.ability.set ~= 'Joker' or card.ability.name == 'Ninja Monkey' or #G.jokers.cards < G.jokers.config.card_limit + card_limit then" 
match_indent = true


# Shinobi Tactics reappear
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = "elseif not (G.GAME.used_jokers[v.key] and not pool_opts.allow_duplicates and not SMODS.showman(v.key)) and"
position = 'at'
payload = "elseif (not G.GAME.used_jokers[v.key] or (v.config.base == 'ninja' and #find_joker('Shinobi Tactics') > 0) or pool_opts.allow_duplicates or SMODS.showman(v.key)) and"
match_indent = true
